.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

[class^="btn--"], .nav {
  text-align: center; }

.img--frame, .img--avatar, .img--logo {
  display: block;
  margin: 1em auto; }

.nav__item {
  display: block;
  border-radius: 5px;
  width: 100%;
  margin: 0; }

.nav__item a {
  border-radius: 0.4em;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  padding: .8em;
  display: block; }

.nav__item a:hover {
  color: #fff;
  background-color: #33ffcc; }

.headline--secondary {
  color: #808080;
  font-size: 18px;
  font-weight: 100; }

.headline--primary {
  color: #33ffcc;
  font-size: em(28px);
  font-weight: 700; }

.link {
  color: #61CAED;
  font-weight: 700;
  text-decoration: none; }

.blockquote {
  color: #808080;
  font-size: 27px;
  padding: 0 0 0 5%;
  border-right: 5px;
  border-left: 10px solid #33ffcc;
  border-radius: 2%;
  font-weight: 300;
  font-style: italic; }

.form__input {
  display: block;
  width: 95%;
  padding: 1em;
  border: none;
  border-bottom: 6px solid #33ffcc;
  font-size: em(16px);
  font-weight: 700; }

.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

[class^="btn--"] {
  padding: 15px 30px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: 700;
  transition: opacity 1s;
  display: block;
  width: 100%; }
  [class^="btn--"]:hover {
    opacity: .5;
    cursor: pointer; }
  [class^="btn--"]:active {
    opacity: .33; }

[class^="grid__col--"] {
  padding: 15px 10px;
  border: 0;
  border-radius: 5px;
  color: #808080;
  font-size: em(14px);
  font-weight: 400;
  transition: opacity 1s;
  width: 100%; }

.btn--default {
  background-color: #61CAED; }

.btn--success {
  background-color: #3CD170; }

.btn--error {
  background-color: #F52613; }

.btn--warning {
  background-color: #E74B08; }

.btn--info {
  background-color: #812DBC; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

.container {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5em; }

ul {
  list-style: none; }

p {
  color: #808080;
  font-size: 18px;
  font-weight: 300;
  padding: 1em;
  letter-spacing: 1px; }

/*Buttons:
.btn--default
.btn--success
.btn--error
.btn--warning
.btn--info
.theme__colors
*/
.btn--default.theme__colors {
  background-color: #61CAED; }
.btn--success.theme__colors {
  background-color: #3CD170; }
.btn--error.theme__colors {
  background-color: #F52613; }
.btn--warning.theme__colors {
  background-color: #E74B08; }
.btn--info.theme__colors {
  background-color: #812DBC; }

[class^="btn--"] {
  margin-bottom: 1.3333333333em; }
  @media (min-width: 769px) {
    [class^="btn--"] + [class^="btn--"] {
      margin-left: 15px;
      @context; } }

/*
Forms:
.form
.form__label--hidden
.form__input
*/
.form__input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.125em;
  margin-top: auto; }
@media (min-width: 769px) {
  .form {
    margin: auto;
    width: 100%; } }

/*
.grid__col--2
.grid__col--3
.grid__col--4
.grid__col--5
.grid__col--6
.grid__col--7
.grid__col--8
.grid__col--9
.grid__col--10
.grid__col--11
.grid__col--12
.centered
.theme__colors
*/
.grid__row {
  display: block;
  padding: .5em; }
  @media (min-width: 769px) {
    .grid__row {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.25em;
      margin: auto; } }
.grid__col {
  margin-top: 0.75em;
  margin-bottom: 0.75em; }
  .grid__col--12.theme__colors {
    background-color: #4dffd2; }
  .grid__col--6.theme__colors {
    background-color: #11a1c3; }
  .grid__col--4.theme__colors {
    background-color: #57D0EE; }
  .grid__col--3.theme__colors {
    background-color: #e0bdef; }
  .grid__col--5.theme__colors {
    background-color: #63cc82; }
  .grid__col--7.theme__colors {
    background-color: #e4757a; }
  .grid__col--8.theme__colors {
    background-color: #fd7856; }

@media (min-width: 769px) {
  .grid__col--1 {
    width: calc(1024px*calc(1/12)); }

  .grid__col--2 {
    width: calc(1024px*calc(2/12)); }

  .grid__col--3 {
    width: calc(1024px*calc(3/12)); }

  .grid__col--4 {
    width: calc(1024px*calc(4/12)); }

  .grid__col--5 {
    width: calc(1024px*calc(5/12)); }

  .grid__col--6 {
    width: calc(1024px*calc(6/12)); }

  .grid__col--7 {
    width: calc(1024px*calc(7/12)); }

  .grid__col--8 {
    width: calc(1024px*calc(8/12)); }

  .grid__col--9 {
    width: calc(1024px*calc(9/12)); }

  .grid__col--10 {
    width: calc(1024px*calc(10/12)); }

  .grid__col--11 {
    width: calc(1024px*calc(11/12)); }

  .grid__col--12 {
    width: calc(1024px*calc(12/12)); } }
[class^="grid__col--"] {
  margin-top: 0.75em;
  margin-bottom: 0.75em; }
  @media (min-width: 769px) {
    [class^="grid__col--"] {
      display: flex;
      justify-content: spacearound; }
      [class^="grid__col--"] + [class^="grid__col--"] {
        margin-left: 20px;
        @context; } }

.img--frame {
  border: 1px solid #b3b3b3;
  padding: .5em;
  width: 100%;
  margin-top: 0.625em; }
  @media (min-width: 769px) {
    .img--frame {
      width: 410px;
      height: 200px; } }
.img--avatar {
  width: 199px;
  height: 199px; }
@media (min-width: 769px) {
  .img--logo {
    float: left;
    margin-left: 2.5em; } }

/*Navigation:
.nav__item
*/
.nav {
  padding: 1em 0; }
  .nav__item a {
    color: #4d4d4d; }
  @media (min-width: 769px) {
    .nav {
      display: flex;
      flex-direction: row; } }

.grid__col--9 nav {
  margin: 0 5% 0 auto; }

/*Typography:
.container
.link
.blockquote
.headline--primary
.headline--secondary
*/
.headline--primary {
  margin-left: 1.25em;
  margin-right: 2.5em; }

/*# sourceMappingURL=style.css.map */
