//Media Queries
@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brk-s) and (max-width: $brk-m) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brk-m + 1){
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brk-l) {
      @content;
    }
  }
}


//Flex Container
@mixin flexy($display:flex, $direction:null, $wrap:null, $justify:null) {
  display:$display;
  flex-direction:$direction;
  flex-wrap:$wrap;
  justify-content:$justify;
}


//Center elements
@mixin center {
  @extend %center;
  margin-left: auto;
  margin-right: auto;
}

// BEM selectors
@mixin e($element) {
	&__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}


//Colour Picker

@each $theme, $color in $themes {
.btn--#{$theme} {
  background-color: $color;
}
}

@mixin colours ($map) {
  @each $theme, $color in $map {
    &--#{$theme}.theme__colors {
      background-color: $color;
    }
  }
}


//Doubly
@mixin doubly ($margin: 1em){
  &+& {
    margin-left: $margin;
    @context;
  }
}
