//Grid:


//.grid__row
/*
.grid__col--2
.grid__col--3
.grid__col--4
.grid__col--5
.grid__col--6
.grid__col--7
.grid__col--8
.grid__col--9
.grid__col--10
.grid__col--11
.grid__col--12
.centered
.theme__colors
*/


.grid {
  @include e(row) {
      display: block;
  		padding: .5em;
    @include mq(medium) {
      @include flexy(flex, row);
      margin-bottom: em(20px);
      margin:auto;
    }
  }
  @include e(col) {
    @include colours($grid-colors);
    margin-top: em(12px);
    margin-bottom: em(12px);
  }
  }

// Flex-item loop for flex grow
@include mq(medium) {
  @for $i from 1 through 12 {
    .grid__col--#{$i} {
      width: calc(1024px*calc(#{$i}/12));
    }
  }
}


[class^="grid__col--"] {
    margin-top: em(12px);
    margin-bottom: em(12px);
    @extend %col;
    @include mq(medium) {
    @include doubly(20px);
    @include flexy($justify: spacearound);
  }
}
