/*Navigation:
.nav__item
*/

.nav {
	@extend %center-align;
	padding: 1em 0;

	@include e(item) {
		@extend %nav-item-display;
		a{
			@extend %nav-item-link;
			color: $grey-dark;
			&:hover {
				@extend %nav-item-on;
			}
		}
	}
	@include mq(medium) {
		@include flexy(flex, row,);
	}
}

.grid__col--9 {
	nav {
		margin: 0 5% 0 auto;
	}
}
